<!DOCTYPE html>
{%extends 'mobile/base.html'%}
{%block body_block%}
<div class="new">
<div class="row">
    <h1 style="text-align:center;">ALL MOBILES</h1>

        {%for mobile in mobiles%}
            <div class="col-4 nss">
                <div class="card " style="width: 16rem;">
  <img src="{{mobile.img.url}}" height="200px" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{mobile.mobile_name}}</h5>
    <p class="card-text">price:{{mobile.price}}</p>
    <a href="{%url 'mdetail' mobile.id%}"><button>View Details</button></a>
  </div>
</div>
</div>

        {%endfor%}

</div>
</div>
{%endblock%}